{% extends '::base.html.twig' %}

{% block meta_title %}
{{ bride }} and {{ groom }} are getting married.
{% endblock %}

{% block body %}
<body id="index">

	<!-- #main -->
	<div id="main">
{% block content %}

		<!-- #Container -->
		<div id="container">

			<h1>{{ bride }} &amp; {{ groom }} are getting married</h1>

			<!-- Navigation -->
			<nav>
				<div class="before"></div>
				<ul>
					 <li><a href="#about_us">About us</a></li>
					 <li><a href="#wedding_party">Wedding and Hotel Info</a></li>
					 <li><a href="#gift_registry">Gift Registry</a></li>
					 <li><a href="#photos">Photos</a></li>
					 <li class="last"><a href="#contact">Contact</a></li>
				</ul>
				<div class="after"></div>
			</nav>
			<!-- END Navigation -->

			<!-- About us -->
			<div id="about_us">
				<div class="before"></div>

				<!-- she -->
				<div class="woman">
					<span class="name">
						<span class="before"></span>
						{{ bride_first }}
						<span class="after"></span>
					</span>

					<div class="picture_holder">
						<img alt="picture holder" src="images/blank.gif" usemap="#she_map">
					</div>

					<map name="she_map">
						<area shape="circle" coords="225,189,163" href="#about_more_inner" alt="about Jane" />
					</map>

					<div class="picture">
						<img alt="{{ bride_first }}" src="images/photo_she.jpg" width='330px' height='330px'>
						<!-- her hover effect -->
						<div class="hover"><span>About {{ bride_first }}</span></div>

					</div>

				</div>
				<!-- END she -->

				<div class="separator">
					and
				</div>

				<!-- he -->
				<div class="man">
					<span class="name">
						<span class="before"></span>
						{{ groom_first }}
						<span class="after"></span>
					</span>

					<div class="picture_holder">
						<img alt="picture holder" src="images/blank.gif" usemap="#he_map">
					</div>

					<map name="he_map">
						<area shape="circle" coords="203,189,163" href="#about_more_inner" alt="about {{ groom_first }}" />
					</map>

					<div class="picture">
						<img alt="{{ groom_first }}" src="images/photo_he.jpg" width='330px' height='330px'>

						<!-- his hover effect -->
						<div class="hover"><span>About {{ groom_first }}</span></div>
					</div>
				</div>
				<!-- END he -->

				<div class="getting_married">
					are getting married
				</div>
				<div class="after"></div>
			</div>
			<!-- END About us -->

			<!-- Wedding party -->
			<div id="wedding_party">
				<div class="before"></div>
				<h2>Save the date</h2>

				<div class="ornament_top"></div>

				<time class="date" datetime="2012-12-23">
					May 12, 2012
				</time>

				<div class="time">
					<time datetime="2012-05-12" class="dtstart">
						6:00 PM
					</time>
					-
					<time datetime="2012-05-12" class="dtend">
						11:00 PM
					</time>
				</div>
				{#
				<div class="location">
					Ceremony: Sixth &amp; I Historic Synagogue, Washington, DC
					<a class="fancybox" title="6th & I Synagogue, Washington, DC"
					  target='_blank' href="http://maps.google.com/maps?hl=en&gs_upl=&ix=sea&ion=1&bav=on.2,or.r_gc.r_pw.r_cp.r_qf.,cf.osb&biw=1280&bih=841&um=1&ie=UTF-8&q=map+6th+%26+I+Synagogue+dc&fb=1&gl=us&hq=6th+%26+I+Synagogue&hnear=0x89b7c6de5af6e45b:0xc2524522d4885d2a,Washington,+DC&cid=0,0,14018148529042869218&ei=bTlJT9W5A8jz0gHg5eirDg&sa=X&oi=local_result&ct=image&ved=0CBIQ_BI">get directions</a>
				</div>
        <br />
        #}
				<div class="location">
					Wedding and Reception: The University Club, 1135 16th Street NW, Washington, DC
					<a title="University Club, 1135 16th Street NW, Washington, DC 20005"
					  target='_new' href="http://maps.google.com/maps?hl=en&bav=on.2,or.r_gc.r_pw.r_cp.r_qf.,cf.osb&ix=sea&ion=1&biw=1280&bih=798&um=1&ie=UTF-8&q=map+university+club+dc&fb=1&gl=us&hq=university+club&hnear=0x89b7c6de5af6e45b:0xc2524522d4885d2a,Washington,+DC&cid=0,0,12564712080280846144&ei=gqFiT7rNO4KP0QHCo-yzCA&sa=X&oi=local_result&ct=image&ved=0CAsQ_BI">Show Map</a>
					</p>
					We have reserved a block of rooms at The University Club for the wedding,
					starting at just $125 / night (plus taxes).  Call 202-862-8800 to reserve your room. (Note:
					paying in cash will save you a 3% credit card charge)
					</p>

				</div>

				<div class="ornament_bottom"></div>

				<div class="after"></div>
			</div>
			<!-- END Wedding party -->

			<!-- Photos -->
			<div id="photos">
				<div class="before"></div>

				<div id="slider">
					<ul>
						{% for p in photos %}
						<li><a class="fancybox" title="{{ p.caption }}" href="{{ p.image }}" >
						<img alt="image1" src="{{ p.image }}" width='222' height='182'></a></li>
            {% endfor %}
					</ul>
				</div>

				<div class="after"></div>
			</div>
			<!-- END Photos -->

			<!-- Contact -->
			<div id="contact">
				<div class="before"></div>

				<h3>Contact us</h3>

				<form action="{{ path('wedding_contact_send') }}" method="post" accept-charset="utf-8">

					<div class="col">
						<label>
							<span>Your Name</span>
							<input type="text" name="name" value=" ">
						</label>
						<label class="mail">
							<span>Your e-mail</span>
							<input type="text" name="email" value="">
						</label>
					</div>

					<div class="col">
						<label class="subject">
							<span>Subject</span>
							<input type="text" name="subject" value=" ">
						</label>
						<label class="message">
							<span>Message</span>
							<textarea rows="5" name="message"></textarea>
						</label>
					</div>

					<input type="submit" name="submit" value="Send message" id="submit">

				</form>

				<a id="rockable" href="http://themeforest.net/user/rockable/portfolio">designed and coded by Rockable</a>

				<div class="after"></div>
			</div>
			<!-- END Contact -->

			<!-- Gift Registry -->
<div id="gift_registry" class='block'>
<h3>Gift Registry</h3>
<ul>
<li><a target='_blank' href='http://www1.macys.com/registry/wedding/guest/?registryId=741560'>Macys</a></li>
<li><a  target='_blank' href="http://www.williams-sonoma.com/registry/2973746/registry-list.html">Williams-Sonoma</a></li>
<li><a  target='_blank' href="http://www.surlatable.com/registry/giftRegistryList.jsp?id=200163583582">Sur La Table</a></li>

</ul>
				<div class="after"></div>
</div>
			<!-- END Gift Registry -->



			<!-- Fotter -->
			<footer>
				<div class="before"></div>
				<small>Template Design by Rockable, available on ThemeForest.net</small>
				<div class="after"></div>
			</footer>
			<!-- END Footer -->

		</div>
		<!-- END #Container -->

	</div>
	<!-- END #main -->

	<!-- ABOUT section - this will be shown in fancybox -->
	<div id="about_more">
		<div id="about_more_inner">

			<div class="ornament_tl"></div>
			<div class="ornament_tr"></div>
			<div class="ornament_br"></div>
			<div class="ornament_bl"></div>

			<!-- more about her -->
			<div class="she">
			  {% block about_her %}
<h2>About the Bride</h3>
<p>
Dummy Text here
</p>
				<div class="social">
					FIND ME ELSWHERE: <a href="http://www.facebook.com/linda.g.greenberg">Facebook</a>
				</div>
        {% endblock %}
			</div>
			<!-- end about her -->

			<!-- more about him -->
			<div class="he">
{% block about_him %}
				<h2>About Tac</h2>
				<p>
Born in Ft. Bragg N.C. to Robert and Sandy Tacelosky, he lived the life of an army brat, moving frequently, but always answered "New Jersey" to the question: "Where did you grow up?"  After getting a degree in Electrical Engineering from Villanova, he spent 10 years in San Diego, where he started MicroTac Software, which made computerized translation software.  After selling the company, he moved to Washington, DC in 1994 and spent the next phase of his life fighting Big Tobacco, including co-founding Smokefree DC, the grassroots group that was instrumental in getting the current smokefree legislation passed.  He currently spends too much time working on technology projects and hopes to someday to go into filmmaking.
</p><p>
He looks forward to the next phase of his life, being married to Linda, and to whatever future that may hold.
</p>
				<div class="social">
					FIND ME ELSWHERE: <a href="http://www.facebook.com/nosmoke">Facebook</a> |
					<a href="https://twitter.com/#!/tacmanDC">Twitter</a>
				</div>
{% endblock about_him %}
			</div>
			<!-- end about him -->

		</div>

	</div>
	<!-- END about section -->
{% endblock %}

</body>
{% endblock %}

